<%- include('./partials/head.ejs') %>

    <aside class="sidebar">

    </aside>


    </section>

    <section class="score-history">

    </section>

    <section class="players-team-one">

    </section>

    <section class="players-team-two">

    </section>

    <%- include('./partials/foot.ejs') %>