<%- include('./partials/head.ejs') %>


<aside class="sidebar">
  <a href="/">
    <img id="home" width="50px" height="50px" src="assets/homebutton.svg" alt="">
  </a>
  <a href="post.ejs">
    <img id="add" width="50px" height="50px" src="assets/addplayer.svg" alt="">
  </a>
  <button id="toggle">
    <img id="contrast" width="50px" height="50px" src="assets/contrast.svg" alt="">
  </button>
</aside>

<%- include('./partials/foot.ejs') %>